<% layout('layout/boilerplate') %>
<% if(noMatch !== "") { %>
<h3 class="searchError text-center p-3 mx-auto d-flex justify-content-center align-items-center col-md-8 offset-2">
    <%= noMatch %></h3>
<% } %>

<div class="row bookCards">
    <% for (let book of books){%>
    <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card" style="width: 18rem;">
            <img src="<%=book.image.path%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="/books/<%=book._id%>">
                        <%= book.title %>
                    </a></h5>
                <p class="card-text"><%= book.author %></p>
            </div>
        </div>
    </div>
    <% } %>
</div>