<% layout('layout/boilerplate') %>
<div class="row mb-1">
    <div class="col-md-12">
        <div class="card-show row g-0 border rounded overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
                <img src="<%= book.image %> " class="img-fluid img-show" alt="...">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-1"><%= book.title %> </h3>
                <h4 class="mb-3 text-muted"><%=book.author%></h4>
                <div class="mb-1 text-muted">Published in <%=book.year%></div>
                <div class="mb-1 text-muted">Country: <%=book.country%> </div>
                <div class="mb-3 text-muted">Language: <%=book.language%></div>
                <p class="card-text mb-2"><%=book.description %> </p>
                <div class="mb-3 text-muted">Submitted by <%=book.creator.username%></div>
                <% if(currentUser && book.creator.equals(currentUser)) {%>
                <div class="mt-auto">
                    <a class="btn" href="/books/<%=book._id%>/edit">Update Book</a>
                    <form class="d-inline" action="/books/<%=book._id%>?_method=DELETE" method="POST">
                        <button class="btn">Delete</button>
                    </form>
                </div>
                <% } %>
            </div>
            <% if(currentUser) {%>
            <div class="col p-4 d-flex flex-column position-static">
                <h4 class="mb-2 text-muted">Leave a Review:</h4>
                <p id="status" class="d-none my-0 text-danger">Please select a rating!</p>
                <form class="row g-3 needs-validation reviewForm" novalidate action="/books/<%=book._id%>/reviews"
                    method="POST">
                    <div class="col-12 mb-0">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="col-12 mb-5">
                        <label class="text-muted mb-2" for="form-label" form="body">
                            <div>Review</div>
                        </label>
                        <textarea class="form-control" name="review[body]" id="" cols="30" rows="10"
                            required></textarea>
                    </div>
                    <div class="col-12 pt-1">
                        <button class="btn">Submit Review</button>
                    </div>
                </form>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% for(let review of book.review) {%>
<div class="row mb-1">
    <div class="col-md-12">
        <div class="card-show row g-0 border rounded overflow-hidden flex-md-row mb-2 h-md-250 position-relative">
            <div class="col p-3 d-flex flex-column position-static">
                <div class="mb-1">
                    <h6 class="card-subtitle mb-2 text-muted">Reviewed by <%= review.creator.username %> </h6>
                    <p class="starability-result mb-3" data-rating="<%=review.rating%>">
                        Rated:<%=review.rating%>stars
                    </p>
                    <p>
                        <%= review.body %>
                    </p>
                    <% if(currentUser && review.creator.equals(currentUser)) {%>
                    <form action="/books/<%=book._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const reviewForm = document.querySelector('.reviewForm');
    const defaultStarInput = document.querySelector("input[name='review[rating]']");
    const statusContainer = document.querySelector("#status");
    if (reviewForm) {
        reviewForm.addEventListener("submit", function (e) {
            if (defaultStarInput.checked) {
                statusContainer.classList.remove("d-none");
                e.preventDefault();
            } else {
                statusContainer.classList.add("d-none");
            }
        })
    }
</script>